* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
